{% extends "quotes/base.html" %} {% block content %}
<h1>Add Quote</h1>
<form
  action="{% url 'quotes:add_quote' %}"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Quote</label>
    {{ form.quote }}
  </div>
  <div class="mb-3">
    <label class="form-label">Author</label>
    {{ form.author }}
  </div>
  <div class="mb-3">
    <h2>Tags:</h2>
    {{ form.tags }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
